<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}} - nodense</title>
        <script type="text/javascript" src="/res/marked.js"></script>
        <script type="text/javascript" src="/res/script.js"></script>
        <link rel="STYLESHEET" type="text/css" href="/res/style.css"></script>
    </head>
    <body>
        <h1 id="title">【{{pagetitle}}】</h1>
        <hr/>
        <section id="center">
            <section id="content">{{content}}</section>
            <section id="editor">
                <form method="post" action="/{{title}}">
                    <input type="submit" value="保存"></input>
                    <textarea name="source">{{source}}</textarea>
                </form>
            </section>
        </section>
        <hr style="clear:both;" />        
        <p id="timestamp">Last Updated: {{timestamp}}</p>
        <footer><a href="https://bitbucket.org/kontan/nodense">Nodense 0.01α</a></footer>
     </body>
</html>