html{
	background-color: lightgrey;
}

body{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

h1{
	text-shadow: 1px 1px 3px grey;
	border-bottom: 1px solid grey;
}

h1#title{
	border-bottom: none;
	font-family: serif;
	text-align: right;
	color: dimgrey;
}

h2{
	text-shadow: 1px 1px 3px grey;
}

h3{
	text-shadow: 1px 1px 3px grey;
}

h4{
	text-shadow: 1px 1px 3px grey;
}

p{
	line-height: 1.6em;
}

textarea {
	width: 360px;
	height: 800px;
	margin: 10px;
	padding: 0.5em;
	background-color: rgba(255, 255, 255, 0.6);
}

input[type="submit"]{
	width: 8em;
	height: 2.4em;
	margin-right: 2em;
	float: right;
}

section#center {

}

section#content {
	float: left;
	width: 800px;
	margin: 0px;
}
section#editor {
	float: left;
	width: 400px;
	margin: 0px;
}

#timestamp{
	text-align: right;
	font-size: small;
}

footer {
	text-align: center;
	font-size: small;
}

pre {
	border-left: solid 4px rgba(0, 0, 0, 0.1);
	padding: 8px;
}

footer > a {
	text-decoration: none;
	color: dimgrey;
}
footer > a:hover {
	text-decoration: underline;
}

